.list-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

@media (min-width: 1200px) {
  .list-product {
    grid-template-columns: repeat(3, 1fr);
  }
}
