* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0e223d;
  --color-secondary: #161c23;
  --color-tertiary: #fdfeff;
  --color-quaternary: #bdf7ff;
  --color-success: #07bc0c;
  --color-error: #e74c3c;
  --color-info: #3498db;
  --input-background-color: #e0e0e0;
  --background-navigation: rgba(13, 34, 61, 0.5);
  --bottom-navigation-height: 6rem;
  --box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px,
    rgb(0 0 0 / 12%) 0px 6px 30px 5px;
  --box-shadow-input: 0 0 0 2px var(--color-quaternary);
  --border-radius: 0.3125rem;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-sm: 0.625rem;
  --font-size-md: 0.75rem;
  --font-size-default: 1rem;
  --font-size-lg: 1.1875rem;
  --font-size-xl: 1.5625rem;
  --container-width: 100%;
  --container-max-width: 75rem;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-quaternary {
  color: var(--color-quaternary);
}

.font-sm {
  font-size: var(--font-size-sm);
}

.font-md {
  font-size: var(--font-size-md);
}

.font-default {
  font-size: var(--font-size-default);
}

.font-lg {
  font-size: var(--font-size-lg);
}

.font-xl {
  font-size: var(--font-size-xl);
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-truncate {
  width: calc(100% - 5%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100%;
}

.w-10rem {
  width: 10rem;
}

.h-10rem {
  height: 10rem;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.rounded {
  border-radius: var(--border-radius);
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  height: 100%;
  padding: 1rem;
}
