* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #020912;
  --color-secondary: #161c23;
  --color-tertiary: #fdfeff;
  --color-quaternary: #bdf7ff;
  --color-success: #07bc0c;
  --color-error: #e74c3c;
  --color-info: #3498db;
  --input-background-color: #e0e0e0;
  --box-shadow: 0px 0px 40px -20px var(--color-tertiary);
  --box-shadow-input: 0 0 0 2px var(--color-quaternary);
  --border-radius: 0.3125rem;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-sm: 0.625rem;
  --font-size-md: 0.75rem;
  --font-size-default: 1rem;
  --font-size-lg: 1.1875rem;
  --font-size-xl: 1.5625rem;
  --container-width: 100%;
  --container-max-width: 75rem;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-quaternary {
  color: var(--color-quaternary);
}

.font-sm {
  font-size: var(--font-size-sm);
}

.font-md {
  font-size: var(--font-size-md);
}

.font-default {
  font-size: var(--font-size-default);
}

.font-lg {
  font-size: var(--font-size-lg);
}

.font-xl {
  font-size: var(--font-size-xl);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  height: 100%;
  padding: 1rem;
}
